<a href="https://colab.research.google.com/github/nareshkumaryadav767/BS-4STATIC-WEBSITE/blob/main/Python_full_stack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
b=float(3)
print(b)

3.0

In [ ]:
print('Naresh')
print('Yadav')

Naresh
Yadav

In [ ]:
print('Naresh',end='')
print('Yadav')
print('Youtube Channel')

NareshYadav
Youtube Channel

In [ ]:
print(a,b)

3 3.0

In [ ]:
a=input()

20

In [ ]:
num1=input('please enter first number')
num2=input('please enter second number')

please enter first number3
please enter second number6

In [ ]:
print(num1,num2,sep='\n')

3
6

In [ ]:
Naresh=num1+num2
print(Naresh)

36

In [ ]:
num1=int(num1)
num2=int(num2)
Naresh= num1+num2
print(Naresh)

9

In [ ]:
5<<2

20

In [ ]:
5>>2

1

In [ ]:
a = int(input('Enter a number'))
if a==4:
  print('Hi')
  print('inside')
elif a == 6:
  print('a is 6')
  print('I am inside elif')
else:
  print('a is not 4')
  print('a is ',a)
print('outside')

Enter a number6
a is 6
I am inside elif
outside

In [ ]:
a =int(input())
if a>4:
  if a<10:
    print('a is greater than 4 and less than 10')

6
a is greater than 4 and less than 10

In [ ]:
if 10 == 10:
    print("Welcome to CodingNinjas")

Welcome to CodingNinjas

In [ ]:
if 5 > 10:
    print("Coding")
elif 8 != 9:
    print("Ninja")
else:
    print("DSA")

Ninja

In [ ]:
if 15 > 5:
    print("Hello")
elif 10 >= 10:
    print("World")
else:
    print("Hello World!")

Hello

In [ ]:
def fun(name,roll):

    print(name,roll)

#Driver's code
fun(name = "parikh",roll = 101)

parikh 101

In [ ]:
FOR LOOP

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
for x in range(1,5,2):
  print(x)

1
3

In [ ]:
i = 0
while(i < 5):
    i = i + 1
    print(i,end = " ")
    i += 1

1 3 5

In [ ]:
n = 5
while(n > 0):
    print(n,end = " ")
    n = n - 1

5 4 3 2 1

In [ ]:
for num in range(5,15,5):
    print(num, end=", ")

5, 10,

In [ ]:
for num in range(2,-5,-1):
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [ ]:
for num in range(2,5,1):
    print(num, end=", ")

2, 3, 4,

Day 9

In [ ]:
1